html {
  scroll-behavior: smooth;
}

html button:active {
  transform: translateY(5px);
}

html button:hover,
html button:hover svg > path {
  color: rgb(172, 111, 68) !important;
}

.App,
.PDFMainCntr {
  font-family: "Quicksand", sans-serif;
}

.App *,
.PDFMainCntr * {
  color: white;
  text-align: center;
  font-size: 20px;
}

.App a {
  text-decoration: none;
}

.App p,
.PDFMainCntr p {
  margin: 0px;
}

/* LINK: */
.linkCntr {
  background-color: black;
  min-width: 385px;
}

/* HOME: */
.homeError {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.homeError > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.homeError > div > img {
  height: 50%;
  width: 50%;
  object-fit: cover;
}

/* TOPBAR: */
.topBarCntr {
  height: 80px;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 20px;
  border-bottom: 1px solid #ffffff47;
  position: fixed;
  width: -webkit-fill-available;
  background-color: black;
  z-index: 1000;
  padding-right: 20px;
}

.topBarCntr > div {
  display: flex;
  align-items: center;
  gap: 50px;
  display: none;
}

.topBarCntr > div > a:hover {
  text-decoration: underline #3ccf91;
}

.topBarCntr > div > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.ProjPG_TB_Cntr img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

#TbMenuIcon * {
  font-size: 35px;
}

#TbMenuIcon:hover svg > path {
  color: rgb(172, 111, 68);
}

/* CONTENT: */
.TbContentCtnr {
  padding: 0px 20px;
  transition: all 0.5s;
  padding-bottom: 40px;
}

.TBBioCntr {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TbMyName {
  font-size: 30px;
  font-family: "Gravitas One", cursive;
}

.TBBio {
  margin: 37px 0px;
}

.TBBio > p {
  text-align: left;
}

#TbBio-3 > p {
  font-size: 16px;
}

#TbBio-2 * {
  color: #3ccf91;
  font-size: 25px;
}

#TbBio-2 {
  text-align: left;
}

#TbBio-1 p:nth-child(1) {
  color: #3ccf91;
}

.TbLinkBtnCtnr {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}

#TbLinkBtn {
  border-color: black;
  background-color: #141414;
  color: white;
  font-size: 13px;
}

#TbLinkBtn > span:nth-child(1) * {
  color: #3ccf91;
}

/* PROJECT CONTENT: */
.projContentCntr {
  width: 100%;
  height: 100%;
}

.projGoHomeBtn {
  text-align: left;
}

/* ABOUT ME: */
.AbtMeCtnr {
  padding-top: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.AbtMeCtnr > article > h1 {
  font-size: 26px;
}

.AbtMeCtnr > article > p {
  margin: 2pc 0px;
  font-size: 16px;
}

.AbtMeCtnr > article > p > span {
  color: #3ccf91;
  font-size: 15px;
}

.AbtMeCtnr > article > img {
  height: 447px;
  object-fit: cover;
  object-position: 30px -50px;
  transform: translateX(-15px);
}

/* MY SKILLS CONTAINER */
.mySkillsCntr {
  padding-top: 60px;
  padding-bottom: 50px;
}

.mySkillsCntr p {
  font-size: 13px;
  font-weight: bold;
}

.mySkillsCntr > h2 {
  color: #3ccf91;
  font-size: 25px;
}

.mySkillsCntr img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
}

.mySkillsCntr > article {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 80px;
  justify-content: space-between;
  flex-direction: column;
}

.FR_Cntr {
  flex: 1;
}

.FR_Cntr > div,
.DB_Cntr > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.FR_Cntr > h3 {
  margin-bottom: 20px;
  color: rgb(241, 157, 0);
}

.BE_Cntr > h3,
.DB_Cntr > h3 {
  color: rgb(241, 157, 0);
}

.BE_Cntr {
  flex: 1;
}

.DB_Cntr {
  flex: 1;
}

/* PROJECT HEADING: */
.ProjectMainCntr {
  padding-top: 120px;
}

.PHCntr > article > h1 {
  margin: 0px;
  margin-bottom: 5px;
  font-size: 30px;
  color: #3ccf91;
  font-weight: bold;
}

.PHCntr > article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.PHCntr > article > p {
  font-size: 16px;
  color: #ffffff8a;
}

/* PROJECT: */
.ProjectImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projDataContr {
  padding: 0px 20px;
}

.projectsCtnr {
  border-radius: 10px;
  overflow: hidden;
  background-color: #080808;
  border: 1px solid #ffffff6e;
  margin: 60px 0px;
  max-width: 317px;
}

.ProjectsTitleCtnr {
  padding: 20px 15px;
}

.ProjectsTitleCtnr > p {
  margin-bottom: 10px;
}

.ProjectsTitle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ProjectsTitle > p {
  font-weight: 900;
  width: 62%;
  font-size: 17px;
  text-align: left;
}

.ProjectsTitle > div {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#ProjectGitIcon {
  border-color: rgb(110, 110, 110);
  background-color: #141414;
  color: white;
  font-size: 10px;
}

#ProjectLaunchIcon {
  border-color: rgb(110, 110, 110);
  background-color: #141414;
  color: white;
  font-size: 10px;
}

#ProjectGitIcon:hover svg > path,
#ProjectGitIcon:hover {
  color: rgb(172, 111, 68);
}

#ProjectLaunchIcon:hover svg > path,
#ProjectLaunchIcon:hover {
  color: rgb(172, 111, 68);
}

.projectLanguageBtn > button {
  margin: 5px;
  font-size: 10px;
  cursor: auto;
  color: #ffffff;
  border-color: black;
}

#reactIcon {
  background-color: #5bceee7e;
  border: none;
}

#reactIcon:active,
#mongodbIcon,
#nodejsIcon,
#mockapiIcon {
  transform: unset;
}

#reactIcon:hover,
#mongodbIcon,
#nodejsIcon,
#mockapiIcon {
  color: inherit !important;
}

#mongodbIcon {
  background-color: #4e8e45;
  border: none;
}

#nodejsIcon {
  background-color: #f1f1e6;
  border: none;
  color: #000000 !important;
}

#mockapiIcon {
  background-color: #e19109;
  border: none;
  color: #000000 !important;
}

#githubapiIcon {
  border-color: rgb(255, 255, 255);
  background-color: #000000;
}

.ProjectsTitleCtnr > div:nth-child(2) {
  border-bottom: 1px solid #ffffff45;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.projectsDescription > p {
  font-size: 15px;
  color: #ffffff8a;
  margin-bottom: 15px;
}

.projTbContentCtnr {
  padding: 100px 20px;
}

/* CONTACT: */
.ContactCntr * {
  text-align: initial;
}

.ContactCntr {
  padding-top: 70px;
}

.ContactCntr h1,
.ContactCntr h3 {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 20px;
}

.ContactCntr h3 {
  margin: 20px 0px;
}

.ContactCntr > h1 {
  margin-right: 20px;
}

.ContactCntr > article:nth-of-type(1) {
  display: flex;
  gap: 100px;
  padding-bottom: 120px;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.ContactDetailsCntr > article > div > div > h3 {
  margin: 0px;
}

.contactMeCntr > form button {
  width: max-content;
  text-align: center;
  color: white;
  height: 30px;
  border: 1px solid #3ccf91;
  border-radius: 5px;
  background-color: #3ccf91;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.contactMeCntr > form button:hover {
  color: black !important;
}

.contactMeCntr * {
  font-size: initial;
  color: black;
}

.contactMeCntr > form input {
  margin-bottom: 10px;
  height: 30px;
}

.contactMeCntr > form textarea {
  margin-bottom: 10px;
  font-size: 18px;
}

.contactMeCntr > form > div {
  display: flex;
  flex-direction: column;
}

.contactMeCntr > form > div > input:nth-of-type(2) {
  height: 100px;
}

.contactMeCntr > form > div > div {
  display: flex;
  gap: 20px;
}

.contactMeCntr > form > div > div > input {
  width: 50%;
}

.CMC_MessageRes {
  padding-top: 10px;
  color: rgb(241, 157, 0);
  font-weight: bold;
  font-size: 20px;
  transition: all 1s;
  position: absolute;
}

.ContactDetailsCntr > article {
  margin-left: 15px;
  max-width: 400px;
}

.ContactDetailsCntr > article > div {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 10px;
}

.ContactDetailsCntr > article > div > div > p {
  margin-left: 20px;
  color: #3ccf91;
}

.ContactDetailsCntr > article > div > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.KeepInTouchCntr {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.KeepInTouchCntr > article:nth-child(2) {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.KeepInTouchCntr > article:nth-child(2) > p:nth-child(2) {
  color: #3ccf91;
}

.KeepInTouchCntr > p:nth-child(3) {
  margin-bottom: 30px;
}

.KeepInTouchCntr > p > span {
  color: #4e8e45;
  font-size: 17px;
}

.KeepInTouchCntr h1 {
  font-size: 44px;
  margin: 0px;
  margin-bottom: 30px;
}

.KeepInTouchCntr p {
  font-size: 16px;
}

.keepInTouchBtnCtnr {
  margin-bottom: 200px;
}

.keepInTouchBtnCtnr > a {
  margin: 5px;
}

/* PROJECT PAGE FOOTER: */
.projDataContr > article {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-evenly; */

  display: grid;
  grid-template-columns: 1fr;
  gap: 100px;
  justify-items: center;
}

.projectFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectFooter > p {
  font-size: 14px;
}

.projectFooter > p > span {
  color: #4e8e45;
  font-size: 17px;
}

/* TOPBAR MENU: */
.TbMenuCtnr {
  position: fixed;
  height: 100vh;
  top: 0px;
  right: 0px;
  z-index: 2000;
  background-color: rgb(27 27 27);
  padding: 0px 20px;
  width: 200px;
  transition: all 0.5s;
}

.TbMenuCtnr > article:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-bottom: 1px solid #ffffff47;
}

#closeMenuBar:hover svg > path {
  color: rgb(172, 111, 68);
}

.TbMenuCtnr > article:nth-child(1) > h1 {
  margin-left: 20px;
}

.TbMenuCtnr > article:nth-child(2) {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  gap: 20px;
}

.TbMenuCtnr > article:nth-child(2) * {
  color: white;
}

.TbMenuCtnr > article:nth-child(2) > a:hover {
  text-decoration: underline solid #3ccf91;
}

#tbMenuHomeBtn:hover {
  color: rgb(172, 111, 68);
}

#tbMenuProjectsBtn:hover {
  color: rgb(172, 111, 68);
}

/* PROJECT PAGE HEADING: */
.projectPageHeading > h1 {
  font-size: 24px;
  margin: 26px 0px;
  color: #3ccf91;
  text-align: center;
}

.projectPageHeading > p {
  font-size: 17px;
  text-align: center;
}

.PrPgProjectsCtnr {
  height: auto;
}

.ProjPgMap {
  padding: 0px 20px;
}

.ProjPgMap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
}

@media (min-width: 768px) {
  .TbLinkBtnCtnr {
    justify-content: initial;
  }

  .mySkillsCntr > article {
    flex-direction: initial;
    align-items: flex-start;
    gap: initial;
  }

  .projDataContr {
    padding: 20px;
  }

  .ContactDetailsCntr {
    margin-right: 200px;
  }

  .contactMeCntr {
    margin-left: 200px;
  }

  .projDataContr > article {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 920px) {
  /* HOME PAGE: */
  .TbContentCtnr {
    padding: 0px 10%;
    padding-bottom: 40px;
  }

  .projTbContentCtnr {
    padding-top: 100px;
  }

  .projectsCtnr {
    height: max-content;
  }

  /* PORJECT DATA: */
  .projDataContr > article > section:nth-of-type(even) {
    margin-top: 320px;
  }

  /* PROJECT PAGE: */
  /* PROJECT */

  /* PROJECT HEADING: */
  .projectPageHeading > h1 {
    font-size: 24px;
    margin: 26px 0px;
    color: #3ccf91;
    text-align: left;
  }

  .projectPageHeading > p {
    font-size: 20px;
    text-align: left;
  }

  .contactMeCntr {
    margin-left: 0px;
  }

  .ContactDetailsCntr {
    margin-right: 0px;
  }

  .ContactCntr > article:nth-of-type(1) {
    flex-direction: row;
    gap: 100px;
    align-items: unset;
  }

  .AbtMeCtnr {
    flex-direction: row;
    align-items: unset;
    padding-top: 160px;
  }

  .topBarCntr > div {
    display: flex;
  }

  .topBarCntr > p,
  #TbMenuIcon {
    display: none;
  }

  .ProjPG_TB_Cntr > p {
    display: initial;
  }
}

@media (min-width: 1300px) {
  /* ABOUT ME: */
  .AbtMeCtnr {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 200px;
  }

  .AbtMeCtnr > article:nth-child(1) {
    width: 50%;
  }

  .projectsCtnr {
    max-width: 400px;
  }

  .PrPgProjectsCtnr {
    max-width: 400px;
  }

  .ProjPgMap {
    gap: 100px;
  }
}

.moreProjects {
  color: #3ccf91;
  margin-bottom: 100px;
  width: max-content;
  font-size: 35px;
  margin-top: 20px;
  cursor: pointer;
  padding: 5px;
  text-align: left;
}

.moreProjects:hover {
  color: rgb(172, 111, 68);
}

.moreProjects:active {
  transform: translateY(5px);
}
