.App,
.PDFMainCntr {
  font-family: "Quicksand", sans-serif;
}

.App *,
.PDFMainCntr * {
  color: white;
  text-align: center;
  font-size: 20px;
}

.App a {
  text-decoration: none;
}

.App p,
.PDFMainCntr p {
  margin: 0px;
}

/* LINK: */
.linkCntr {
  background-color: black;
  min-width: 385px;
}

/* HOME: */
.homeError {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.homeError > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.homeError > div > img {
  height: 50%;
  width: 50%;
  object-fit: cover;
}

/* TOPBAR: */
.topBarCntr {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  border-bottom: 1px solid #ffffff47;
  position: fixed;
  width: -webkit-fill-available;
  background-color: black;
  z-index: 1000;
  padding-right: 20px;
}

.topBarCntr > p:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
}

#TbMenuIcon * {
  font-size: 35px;
}

#TbMenuIcon:hover svg > path {
  color: rgb(172, 111, 68);
}

/* CONTENT: */
.TbContentCtnr {
  padding: 65px 20px;
  transition: all 0.5s;
}

.TbMyName {
  font-size: 30px;
  font-family: "Gravitas One", cursive;
}

.TBBio {
  margin: 37px 0px;
}

.TBBio > p {
  text-align: left;
}

#TbBio-3 > p {
  font-size: 16px;
}

#TbBio-2 * {
  color: #3ccf91;
  font-size: 25px;
}

#TbBio-2 {
  text-align: left;
}

#TbBio-1 p:nth-child(1) {
  color: #3ccf91;
}

.TbLinkBtnCtnr {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

#TbLinkBtn {
  border-color: black;
  background-color: #141414;
  color: white;
  font-size: 13px;
}

#TbLinkBtn > span:nth-child(1) * {
  color: #3ccf91;
}

/* PROJECT CONTENT: */
.projContentCntr {
  width: 100%;
  height: 100%;
}

/* ABOUT ME: */
.AbtMeCtnr {
  margin-top: 150px;
}

.AbtMeCtnr > article > h1 {
  font-size: 26px;
}

.AbtMeCtnr > article > p {
  margin: 2pc 0px;
  font-size: 16px;
}

.AbtMeCtnr > article > p > span {
  color: #3ccf91;
  font-size: 15px;
}

.AbtMeCtnr > article:nth-child(2) {
  display: flex;
  justify-content: space-around;
}

.AbtMeCtnr > article > img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  object-position: 0px -25px;
}

/* PROJECT HEADING: */
.PHCntr {
  margin: 60px 10px;
}

.PHCntr > article > h1 {
  margin: 0px;
  margin-bottom: 5px;
}

/* .PHCntr > p {
  color: #3ccf91;
  font-size: 35px;
  margin-top: 20px;
  cursor: pointer;
} */

.PHCntr > article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.PHCntr > article > p {
  font-size: 16px;
  color: #ffffff8a;
}

/* PROJECT: */
.ProjectImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projectsCtnr {
  border-radius: 10px;
  overflow: hidden;
  background-color: #080808;
  border: 1px solid #ffffff6e;
  margin: 60px 0px;
  height: min-content;
}

.ProjectsTitleCtnr {
  padding: 20px 15px;
}

.ProjectsTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ProjectsTitle > p {
  font-weight: 900;
  width: 62%;
  font-size: 17px;
  text-align: left;
}

#ProjectGitIcon:hover svg > path {
  color: rgb(172, 111, 68);
}

#ProjectLaunchIcon:hover svg > path {
  color: rgb(172, 111, 68);
}

.projectLanguageBtn > button {
  margin: 5px;
  font-size: 10px;
  cursor: auto;
  color: #ffffff;
  border-color: black;
}

#reactIcon {
  background-color: #5bceee7e;
}

#mongodbIcon {
  background-color: #4e8e45;
}

#nodejsIcon {
  background-color: #f1f1e6;
  color: #000000;
}

#mockapiIcon {
  background-color: #e19109;
  color: #000000;
}

#githubapiIcon {
  border-color: rgb(255, 255, 255);
  background-color: #000000;
}

.ProjectsTitleCtnr > div:nth-child(2) {
  border-bottom: 1px solid #ffffff45;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.projectsDescription > p {
  font-size: 18px;
  color: #ffffff8a;
}

/* FOOTER: */
.footerCtnr {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;
}

.footerCtnr > article:nth-child(2) {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.footerCtnr > article:nth-child(2) > p:nth-child(2) {
  color: #3ccf91;
}

.footerCtnr > p:nth-child(3) {
  margin-bottom: 30px;
}

.footerCtnr > p > span {
  color: #4e8e45;
  font-size: 17px;
}

.footerCtnr h1 {
  font-size: 44px;
  margin: 0px;
  margin-bottom: 30px;
}

.footerCtnr p {
  font-size: 16px;
}

.footerBtnCtnr {
  margin-bottom: 200px;
}

.footerBtnCtnr > a {
  margin: 5px;
}

/* PROJECT PAGE FOOTER: */
.projectFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectFooter > p {
  font-size: 14px;
}

.projectFooter > p > span {
  color: #4e8e45;
  font-size: 17px;
}

/* TOPBAR MENU: */
.TbMenuCtnr {
  position: fixed;
  height: 100vh;
  top: 0px;
  right: 0px;
  z-index: 2000;
  background-color: rgb(27 27 27);
  padding: 0px 20px;
  width: 200px;
  transition: all 0.5s;
}

.TbMenuCtnr > article:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-bottom: 1px solid #ffffff47;
}

#closeMenuBar:hover svg > path {
  color: rgb(172, 111, 68);
}

.TbMenuCtnr > article:nth-child(1) > h1 {
  margin-left: 20px;
}

.TbMenuCtnr > article:nth-child(2) {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  gap: 20px;
}

.TbMenuCtnr > article:nth-child(2) * {
  color: white;
}

#tbMenuHomeBtn:hover {
  color: rgb(172, 111, 68);
}

#tbMenuProjectsBtn:hover {
  color: rgb(172, 111, 68);
}

/* PROJECT PAGE HEADING: */
.projectPageHeading > h1 {
  font-size: 24px;
  margin: 26px 0px;
  color: #3ccf91;
  text-align: center;
}

.projectPageHeading > p {
  font-size: 20px;
  text-align: center;
}

.PrPgProjectsCtnr {
  height: auto;
}

@media (min-width: 920px) {
  /* HOME PAGE: */
  .TbContentCtnr {
    padding: 65px 10%;
  }

  /* PORJECT DATA: */
  .projDataContr > article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .projDataContr > article > section:nth-of-type(even) {
    margin-top: 320px;
  }

  /* PROJECT PAGE: */
  /* PROJECT */
  .projectsCtnr {
    width: 40%;
  }

  /* PROJECT MAP: */
  .ProjPgMap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  /* PROJECT HEADING: */
  .projectPageHeading > h1 {
    font-size: 24px;
    margin: 26px 0px;
    color: #3ccf91;
    text-align: left;
  }

  .projectPageHeading > p {
    font-size: 20px;
    text-align: left;
  }
}

@media (min-width: 1300px) {
  /* ABOUT ME: */
  .AbtMeCtnr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .AbtMeCtnr > article:nth-child(1) {
    width: 50%;
  }
}

.PDFMainCntr {
  background-color: black;
}

.PDFAbtMeCtnr {
  margin: 0px;
}

.PDFTbContentCtnr {
  padding: 1px 20px;
}

.PDFAbtMeCtnrImg {
  page-break-after: always;
}

.PDFprojDataContr > article:nth-child(1) {
  page-break-after: always;
  margin-top: 220px;
}

.PDFfooterCtnr {
  height: 88vh;
}

.PDFprojectsCtnr {
  page-break-after: always;
  margin-top: 220px;
}

.PDFTBBio > p:nth-child(1) {
  margin-bottom: 20px;
}

.PDF {
  background-color: black;
  display: flex;
  justify-content: flex-end;
  min-width: 385px;
}

#PDFPrintButton {
  margin: 40px;
  background-color: #4e8e45;
  color: black;
}

.moreProjects {
  color: #3ccf91;
  font-size: 35px;
  margin-top: 20px;
  cursor: pointer;
  text-align: left;
}
